// Import theme and extract parts of it
@import '~@angular/material/theming';

@mixin txn-component-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);

	.txn-list-container {
		background: linear-gradient(to bottom right, mat-color($accent, 300), mat-color($accent, 600));
		.txn-list {
			width: 100%; margin-top: 10px;
			.txn-table-container {
				height: 445px;
				overflow: auto;
			}
		}
	}
	mat-card {
		padding: 0 !important;
	}
	mat-card-header {
		padding: 20px;
		background: mat-color($accent, 600);
		color: $light-primary-text;
	}
	.mat-card-header-text {
		 margin: auto !important;
	}
	.mat-card-title {
		font-size: 20px !important;
		margin: 0 !important;
	}
	mat-card-content {
		padding: 20px;
		td.mat-cell {
			word-break: break-all;
			padding: 5px;
		}
		th.mat-header-cell {
			padding: 5px;
		}
	}
	.txn-user-holder {
		margin: 0 10px 10px 10px !important;
		width: 100%;
	}
	.mat-form-field {
	  font-size: 14px;
	  width: 100%;
	}
	.error {
		color: mat-color($warn);
	}

}
