<div fxLayout="column" fxLayoutAlign="start center" fxFill class="txn-list-container">
	<div fxFlex="100" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px" fxLayoutGap.lt-sm="2px" class="txn-list">
		<mat-card fxFlex="70" fxFlex.lt-sm="100">
		  <mat-card-header>
		    <mat-card-title>Transactions</mat-card-title>
		    <span style="width: 100%;"></span>
		    
		  </mat-card-header>


		  <mat-card-content>
		  	<div class="txn-user-holder" fxLayout="row">
		  		<mat-form-field>
			      <input matInput value="sujith@gmail.com"   (keyup)="getTransactions($event.target.value)" placeholder="enter user ">
			       
			    </mat-form-field>

			    <button mat-fab color="primary" (click)="createTransaction()">
				    <mat-icon aria-label="fab-button with a add icon">add</mat-icon>
				</button>

		  	</div>

		    <div fxLayout="column" fxLayout.lt-sm="row" class="txn-table-container">

		 		<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

		    	<!-- table start-->

		    	<table  mat-table [dataSource]="transactionsList"  >

				  <!--- Note that these columns can be defined in any order.
				        The actual rendered columns are set as a property on the row definition" -->

				  <!-- Id Column -->
				  <ng-container matColumnDef="id">
				    <th mat-header-cell *matHeaderCellDef> Id. </th>
				    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
				  </ng-container>

				  <!-- User Column -->
				  <ng-container matColumnDef="user">
				    <th mat-header-cell *matHeaderCellDef> User </th>
				    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
				  </ng-container>

				  <!-- Amount Column -->
				  <ng-container matColumnDef="amount">
				    <th mat-header-cell *matHeaderCellDef> Amount </th>
				    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
				  </ng-container>

				  <!-- Currency Column -->
				  <ng-container matColumnDef="currency">
				    <th mat-header-cell *matHeaderCellDef> Currency </th>
				    <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
				  </ng-container>

				  <!-- Transaction Date Column -->
				  <ng-container matColumnDef="txn_date">
				    <th mat-header-cell *matHeaderCellDef> Date </th>
				    <td mat-cell *matCellDef="let element"> {{element.txn_date}} </td>
				  </ng-container>

				  <!-- Actions Column -->
				  <ng-container matColumnDef="actions">
				    <th mat-header-cell *matHeaderCellDef> Actions </th>
				    <mat-cell *matCellDef="let row">
			            <div class="button-row" >
			                <button mat-icon-button (click)="viewTransaction(row)">
			                    <mat-icon aria-label="icon-button with a heart icon">visibility</mat-icon>
			                 </button>
			                <button mat-icon-button (click)="editTransaction(row)">
			                  <mat-icon aria-label="icon-button with a heart icon">mode_edit</mat-icon>
			                </button>
			                <button mat-icon-button color="warn"  (click)="deleteTransaction(row)">
			                  <mat-icon aria-label="icon-button with a heart icon">delete</mat-icon>
			                </button>
			            </div>
			        </mat-cell>
				  </ng-container>

				  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

				</table>

		    	<!-- table ends -->


		    	<div *ngIf="transactionsList?.length === 0" class="no-transactions">
		    		You don't have any transactions yet
		    	</div>

		    </div>

		  </mat-card-content>
		</mat-card>
	</div>
</div>