<mat-card>
    <mat-card-header>
      <mat-card-title>New Transaction</mat-card-title>
      <mat-card-subtitle> </mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <!-- <ul *ngIf="error" style="color:red">
        <li *ngFor="let e of error"> {{e}}</li>
      </ul> -->
      <form [formGroup]="transactionAddForm" (ngSubmit)="createTransaction()">
        
        <mat-form-field class="width-50">
          <input matInput  formControlName="user" placeholder="user">
        </mat-form-field>
        <mat-form-field class="width-50">
          <input matInput type="number" formControlName="amount" placeholder="amount">
        </mat-form-field>
        <mat-form-field class="width-50">
          <input matInput formControlName="currency" placeholder="currency">
        </mat-form-field>
        <mat-form-field class="width-50">
          <input matInput type="date" formControlName="txn_date" placeholder="txn_date">
        </mat-form-field>

        <div fxLayout="row">
        	<button type="button"  mat-button (click)="cancel()" >Cancel</button>
        	<span style="width: 100%;"></span>
        	<button type="submit" [disabled]="!transactionAddForm.valid" mat-raised-button class="submit" color="primary">Create</button>
        </div>

      </form>
    </mat-card-content>
  
</mat-card>