// Import theme and extract parts of it
@import '~@angular/material/theming';

@mixin txn-view-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);

	.txn-view-card {
		border: 1px solid #40a9f4;
		height: 100px;
	}
	.txn-card-left {
		background: mat-color($primary);
		
		h3 {
			font-size: 6vw;
			word-break: break-all;
		    text-align: center;
			color: $light-primary-text;
		}
		font {
			color: $light-primary-text;
			padding-right: 10px;
		}
	}
	.txn-card-right {
		padding-left: 10px;

		h2 {
			color: mat-color($primary, 600);
			word-break: break-all;
		    text-align: center;
		    margin: 0;
		    font-size: 3.5vw;
		}
		label {
			color: mat-color($primary, 900);

		}
	}
	.lds-ellipsis {
	  display: inline-block;
	  position: relative;
	  width: 64px;
	  height: 64px;
	}
	.lds-ellipsis div {
	  position: absolute;
	  top: 27px;
	  width: 11px;
	  height: 11px;
	  border-radius: 50%;
	  background: mat-color($primary);
	  animation-timing-function: cubic-bezier(0, 1, 1, 0);
	}
	.lds-ellipsis div:nth-child(1) {
	  left: 6px;
	  animation: lds-ellipsis1 0.6s infinite;
	}
	.lds-ellipsis div:nth-child(2) {
	  left: 6px;
	  animation: lds-ellipsis2 0.6s infinite;
	}
	.lds-ellipsis div:nth-child(3) {
	  left: 26px;
	  animation: lds-ellipsis2 0.6s infinite;
	}
	.lds-ellipsis div:nth-child(4) {
	  left: 45px;
	  animation: lds-ellipsis3 0.6s infinite;
	}
	@keyframes lds-ellipsis1 {
	  0% {
	    transform: scale(0);
	  }
	  100% {
	    transform: scale(1);
	  }
	}
	@keyframes lds-ellipsis3 {
	  0% {
	    transform: scale(1);
	  }
	  100% {
	    transform: scale(0);
	  }
	}
	@keyframes lds-ellipsis2 {
	  0% {
	    transform: translate(0, 0);
	  }
	  100% {
	    transform: translate(19px, 0);
	  }
	}

}